<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>flightreservation.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <display-name>flightreservation</display-name>
  <welcome-file-list>
    <welcome-file>useroradmin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TicketBooking</display-name>
    <servlet-name>TicketBooking</servlet-name>
    <servlet-class>flightreservation.controller.TicketBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketBooking</servlet-name>
    <url-pattern>/TicketBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>flightreservation.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>flightreservation.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlights</display-name>
    <servlet-name>SearchFlights</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.SearchFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlights</servlet-name>
    <url-pattern>/SearchFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfo</display-name>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.PersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentDetails</display-name>
    <servlet-name>PaymentDetails</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.PaymentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentDetails</servlet-name>
    <url-pattern>/PaymentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionDetailsInfo</display-name>
    <servlet-name>TransactionDetailsInfo</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.TransactionDetailsInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionDetailsInfo</servlet-name>
    <url-pattern>/TransactionDetailsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirLinesCrud</display-name>
    <servlet-name>AirLinesCrud</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.admin.AirLinesCrud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirLinesCrud</servlet-name>
    <url-pattern>/AirLinesCrud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteCurd</display-name>
    <servlet-name>RouteCurd</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.admin.RouteCurd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteCurd</servlet-name>
    <url-pattern>/RouteCurd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightCrud</display-name>
    <servlet-name>FlightCrud</servlet-name>
    <servlet-class>flightreservation.contoller.servlet.admin.FlightCrud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightCrud</servlet-name>
    <url-pattern>/FlightCrud</url-pattern>
  </servlet-mapping>
</web-app>